*{
margin: 0;
}
.filterSearch{
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 120;
  position: fixed;
}
.filterHeader{
  border-bottom: 1px solid #eaeaec;
  margin: 0;
  display: grid;
  background: #fff;
  text-align: center;
  height: 50px;
}
.col1{
  width: 50%;
  float: left;
  padding-right: 16px;
}
.closeBlock{
  padding: 14px 12px 10px 20px;
  text-align: left;
  color: #424553;
}
.closeLabel{
  font-family: "Assistant";
  height: 50px;
  font-size: 13px;
  font-weight: 700;
  text-align: left;
}
.bottomPart{
  color: #3e4152;
  height: 100%;
  background: #fff;
  margin: 0 0 16px 0;
}
.oneSide{
  height: 100%;
  overflow: scroll;
  background-color: #f5f5f6;
  padding: 0 0 180px;
  width: 33.33%;
  float: left;
}
.allFilter{
  position: relative;
  overflow: hidden;
  font-family: "Assistant";
}
/* .genderTab{
  background: #fff;
  font-weight: 700;
  min-height: 49px;
  display: flex;
  align-items: center;
  cursor: pointer;
  vertical-align: text-top;
} */
#commonProp{
  color: #3e4152;
  font-family: "Assistant";
  font-size: 14px;
  border-bottom: 1px solid #eaeaec;
  padding: 0 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  vertical-align: text-top;
}
#commonProp.active{
  background-color: #fff;
  font-weight: bold;
  /* border-left: 3px solid #ff3e6c; */
}
.categ{
  background: #f5f5f6;
  min-height: 49px;
}
.categ2{
  background: #f5f5f6;
  min-height: 49px;
  line-height: 20px;
}
.redDot{
  width: 8px;
  height: 8px;
  background-color: #ff3e6c;
  position: absolute;
  top: 18%;
  right: 10%;
  border-radius: 50%;
}
.secondSide{
  height: 100%;
  /* padding-right: 12px; */
  width: 66.66%;
  float: left;
}
.filterOption{
  height: 100vh;
  padding: 0 0 150px;
  overflow: scroll;
  margin-left: 12px;
} 
.firstItem{
  padding: 16px 2px 16px 0;
  border-bottom: .5px solid #eaeaec;
  font-size: 13px;
  margin-right: 12px;
}
.lastItem{
  padding: 16px 2px 16px 0;
  font-size: 13px;
  margin-right: 12px;
}
.labelBoys{
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-family: "Assistant";
}
.checkBoxInd{
  box-sizing: border-box;
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 2px;
}
.checVisit{
  margin: 0 12px 0 0;
  visibility: hidden;
}
.checkBoxInd::after{
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 5px;
  border-color: #bfc0c6;
  border-style: none none solid solid;
  border-width: 1px;
  transform: rotate(-45deg);
}
.count{
  position: absolute;
  right: 0;
  font-size: 10px;
  color: #94969f;
}
.filterFoot{
  border-top: 1px solid #eaeaec;
  text-align: center;
  width: 100%;
  bottom: 0;
  position: fixed;
  margin: 0;
  height: 50px;
  background: #fff;
}
.closeColumn{
  width: 50%;
  float: left;
  padding-right: 16px;
}
.close{
  color: #3e4152;
  border-color: transparent;
  background-color: #fff;
  text-transform: uppercase;
  padding-top: 15px;
  font-weight: 300;
}
.buttonDivider{
  border-left: 1px solid #eaeaec;
  width: 2px;
  height: 22px;
  position: absolute;
  left: 50%;
  top: 15px;
  z-index: 1;
}
.Apply{
  color: #ff3e6c;
  font-weight: bold;
  border-color: transparent;
  background-color: #fff;
  text-transform: uppercase;
  padding-top: 16px;
  padding-right: 10px;
  padding-left: -5px;
}
.searchWrapper {
  padding: 10px 0;
  margin-bottom: 10px;
}

.filterSearchInput{
  width: 73%;
  margin-left: 4px;
  padding: 16px 14px;
  border: 1px solid #d5d5d5;
  /* border-radius: 4px; */
  font-family: "Assistant";
  font-size: 14px;
}

.searchBox{
  position: relative;
}
.searchIcon{
  position: absolute;
  top: 60%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  font-size: 16px;
  padding-left: 4px;
}
.filterSearchInput{
  padding: 11px 6px 11px 34px;
  background-color: #f4f4f5;
  font-size: 12px;
}
.firstItem{
  padding: 16px 12px 16px 0;
}
.lastItem{
  padding: 16px 12px 16px 0;
}

.priceContainer{
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: "Assistant";
  line-height: 18px;
}
.priceLabel{
  color: #282c3f;
  margin-bottom: 4px;
  font-size: 12px;
}
.priceValue{
  color: #282c3f;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
}
.productFound{
  color: #7e818c;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 19px;
}
.priceBar{
  margin-top: 18.5px;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  transform: rotate(180deg);
  transform: scaleY(-1);
  padding-left: 14px;
}
.hist1{
  width: 43.3333px;
  height: 60px;
  display: inline-block;
  background-color: #f6f6f6;
}
.hist2{
  width: 43.3333px;
  height: 33.6px;
  display: inline-block;
  background-color: #f6f6f6;
}
.hist3{
  width: 43.3333px;
  height: 26.4px;
  display: inline-block;
  background-color: #f6f6f6;
}
.sliderWrapper {
  position: relative;
  height: 20px;
  margin-right: 50px;
}

.rangeSlider {
  -webkit-appearance: none;  /*remove browser's default styling of the slider*/
  width: 100%;
  height: 4px;
  background: #ff3e6c;
  border-radius: 5px;
  position: absolute;
  pointer-events: none;
}
.rangeSlider::-webkit-slider-thumb {   /*styles the draggable thumb(the custom circle that slide)*/
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px solid #ff3e6c;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
  position: relative;
  z-index: 2;
}
.rangeSlider::-moz-range-thumb {
  /* custon style for the slider thumb in FireFox(-moz- prefix is for Mozilla browsers like Firefox) */
  height: 30px;
  width: 30px;
  left: 152px;
  background: #fff;
  border: 1px solid rgb(255, 63, 108);
  box-shadow: rgba(0,0,0,0.4) 0px 2px 4px 0px;
  border-radius: 100%;
  cursor: pointer;
  pointer-events: all;
  /* make sure this element can receive mouse/touch events, even if its parent has pointer-events :none */
  position: relative;
  z-index: 2;
}
.start{
  height: 100%;
  font-size: 12px;
  padding-right: 0;
  float: left;
  font-family: "Assistant";
  
}
.heading1{
  font-weight: 700;
  text-align: center;
  margin: 50px 12px 8px;
  font-size: 14px;
  color: #535766;
  margin-left: 0;
  line-height: 20px;
}
.subheading{
  text-align: center;
  padding: 0 20px;
  color: #535766;
  margin-right: 12px;
  line-height: 17px;
}
.selectCate{
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #ff3e6c;
  text-align: center;
  width: 76%;
  margin: 24px 7%;
  padding: 7px 4.5px;
  color: #ff3e6c;
  text-transform: uppercase;
}
.colorItem{
  padding: 12px 0;
  border-bottom: 0.5px solid #eaeaec;
  font-family: "Assistant";
  font-size: 13px;
}
.labelColor{
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
  position: relative;
}
.labelColor input[type="checkbox"]{
  display: none;
}
.colorBox{
  width: 30px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
  margin-left: 30px;

}
