*{
  box-sizing: border-box;
  font-family: "Assistant";
}
.topBar{
  color: white;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
  background-color: #fff;
  line-height: 80px;
}
.mycon{
  float: left;
  height: 80px;
  margin-left: 56.5938px;
}
.myntraIcon{
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  cursor: pointer;
  height: 80px;
  width: 53px;
}
