*{
  box-sizing: border-box;
  margin: 0;
}
.fullContent{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
  font-family: "Assistant";
}
.makeIt{
  padding-top: 57px;
}
.topBar{
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0 1px 0 rgba(148, 150, 159, .3);
  margin-bottom: 0;
}
#navBar{
  display: inline-block;
  vertical-align: top;
}
.backArrow{
  margin: 16px 0px 16px 16px;
}
.myntraIcon{
  margin: 16px 2.5px 14px 13px;
}
.headTitle{
  display: inline-block;
  font-size: 16px;
  position: relative;
  top: 11px;
  font-family: "Assistant";
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
  line-height: normal;
  width: calc(100% - 260px);
  color: #424553;
}
.dressTitle{
  font-weight: 700;
}
.itemCount{
  font-size: 12px;
  font-weight: 400;
}
.rightContent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 16px;
  margin-top: 15px;
  position: relative;
  top: 1px;
  float: right !important;
  margin-right: 16px;
}
.rightIcons1{
  height: 20px;
  width: 20px;
  margin-right: 4px;
  margin-top: 2px;
}
.stickyBottom{
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  border-top: 1px solid #eaeaec;
  z-index: 10;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.fColumn{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  gap: 6px;
  position: relative;
  overflow: hidden;
  height: 50px;
  padding: 14px 0 14px 26px;
  font-size: 14px;
  letter-spacing: .9px;
  color: #535766;
  font-weight: 700;
  font-family: "Assistant";
  cursor: pointer;
}
.filterIcon{
  top: 16px;
  left: 10%;
  width: 16px;
  height: 16px;
  position: static;
}
.buttonDivider{
  border-left: 1px solid #eaeaec !important;
  width: 1px;
  height: 22px;
  z-index: 1;
  margin-top: 10px;
}
.bannerText{
  padding: 28.5px 6px;
  font-family: "Assistant";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg,#bd6da6, #d799cb);
  width: 100%;
  position: relative;
}
.bannerWrite{
  position: absolute;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
  align-items: center;
  text-align: center;
  padding-top: 2px;
}
.flat{
  font-weight: 400;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}
.dressList{
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  box-sizing: border-box;
  padding: 0;
  flex-direction: row;
  overflow: hidden;
  clear: both;
}
.imgOne{
  clear: left;
  /* border-right: .5px solid #d4d5d9; */
  border-top: 1px solid #d4d5d9;
  /* border-bottom: .5px solid #d4d5d9; */
  float: left;
  width: 50%;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.imgProp{
  background-color: rgb(244. 255, 249);
  width: 100%;
  display: block;
  height: 255px;
  max-width: 100%;
  /* width: auto; */
}
.ratingContainer{
  position: absolute;
  height: 18px;
  margin: -28px 0 0 11px;
  border: 1px solid #eaeaec;
  background-color: #fff;
  color: #282c3f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  border-radius: 9px;
  width: auto;
}
.textRating{
  font-size: 10px;
  font-weight: 700;
}
.starIcon{
  background-image: url(Images/greenstar.png);
  font-size: 9px;
  padding: 3px;
  background-size: cover;
  position: relative;
  margin: 0 6px 0 4px;
}
.ratingCount{
  font-size: 10px;
  font-weight: 700;
  margin-left: 5px;
}
.flexDes{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  clear: both;
}
.serperatorLine{
  clear: left;
  border-right: .5px solid #d4d5d9;
  border-top: 1px solid #d4d5d9;
  /* border-bottom: .5px solid #d4d5d9; */
  float: left;
  width: 50%;
  margin: 0;
  overflow: hidden;
}
.serperatorLine2{
  clear: left;
  border-top: 1px solid #d4d5d9;
  float: left;
  width: 50%;
  margin: 0;
  overflow: hidden;
}
.productDescription{
  position: relative;
  padding: 8px 0;
  font-size: 12px;
}
.brandName{
  margin-bottom: inherit;
  font-weight: 700;
  line-height: 1.57;
  font-size: 13px;
  width: 85%;
}
#commonProp{
  font-family: "Assistant";
  padding-left: 8px;
  text-align: left;
  color: #282c3f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.MoreInfo{
  opacity: .6;
  max-width: 180px;
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  height: 12px;
}
.priceContainer{
  margin-top: -1px;
  padding-left: 6px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Assistant";
}
.rupeesIcon{
  top: 4px;
}
#commonPrice{
  position: relative;
  font-weight: 700;
  color: #282c3f;
  font-size: 13px;
  width: 17px;
  height: 17px;
}
.amountValue{
  left: -4px;
  position: relative;
}
#dimRupee{
  opacity: .4;
  color: #282c3f;
  font-size: 13px;
  text-decoration: line-through;
}
.origPrice{
  position: relative;
  left: -2px;
}
.discountPercent{
  color: #ff905a;
  font-weight: 700;
  font-size: 11px;
  white-space: nowrap;
}
.spaceBeneath{
  min-height: 17px;
  /* text-align: left;
  margin-left: 8px; */
}
.heartDes{
  color: #282c3f;
  display: inline-block;
  position: absolute;
  bottom: 43px;
  right: 0px;
  top: 5px;
  /* padding-top: 4px; */
  /* padding-left: 15px;  */
  /* height: 38px; */
}
.installApp{
  border-top: 4px solid #eaeaec;
  border-bottom: 4px solid #eaeaec;
  width: 100%;
  background-image: linear-gradient(270deg, #ffe5b2, #fff);
  min-height: 120px;
}
.filter{
  padding-right: 40px;
  border-bottom: 1px solid #d4d5d9;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: block;
  background-color: #e1eaff;
  font-size: 14px;
  color: #414554;
}
.scroll{
  vertical-align: top;
  display: inline-block;
  margin-right: 28px;   /*changed from 30*/
  color: #3e4152;
}
.headingFilter{
  padding-left: 16px;
  padding-top: 30px;
  font-size: 18px;
  font-family: "Assistant";
}
.brandFilter{
  padding-left: 16px;
  padding-bottom: 30px;
  font-size: 21.5px;
  font-family: "Assistant";
  font-weight: 700;
  line-height: 1.33;
}
.filterValues{
  display: inline-block;
  font-family: "Assistant";
}
.margPadding{
  margin-right: 8px;
  display: inline-block;
  min-width: 4%;
  vertical-align: top;
}
.firstValue,.secondValue{
 margin-top: 16px;
 padding: 10px 20px;
 font-weight: 700;
 text-align: center;
 width: 100%;
 border-radius: 4px;
 background-color: #fff;
}
.secVal{
  margin-right: 8px;
  display: inline-block;
  min-width: 4%;
  vertical-align: top;
}
.arrow{
  top: 2px;
  position: absolute;
  font-size: 16px;
}
.moreOption{
  margin-left: 10px;
  position: relative;
  padding-bottom: 12px;
  vertical-align: bottom;
  display: inline-block;
}
.marginBottom{
  margin-bottom: 16px;
  vertical-align: bottom;
  margin-top: -6px;
}
.arrowClasss{
  top: 2px;
  position: absolute;
  font-size: 16px;
}
.img768{
  display: none;
}
@media screen and (min-width: 425px){
  .imgProp{
    height: 255px;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
  .bannerText{
    padding-top: 41px;
    padding-bottom: 30px;
    border-top-color: black;
    opacity: 1;
  }
  .bannerWrite,.flat{
    font-size: 14px;
    padding-bottom: 7px;
    line-height: 20px;
  }
  .img768{
    display: none;
  }
}

@media screen and (min-width: 768px){
.img375{
  display: none;
  /* width: 100%; */
}
.img768{
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  border-style: none;
}
}
